@import "_base";
@import "_color";

.profile-body {
    background-color: $blackColor01;
    padding: 50px;
}

.profile-header {
    margin-bottom: 50px;

    &__title {
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: bold;
        color: $whiteColor01;
    }

    &__des {
        color: $grayColor01;
    }
}

.profile-main {
    &__section {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__name {
        line-height: 50px;
        font-size: 30px;
        color: $whiteColor01;
    }

    &__info {
        color: $whiteColor01;
    }
}
